@import url("https://fonts.googleapis.com/css2?family=Krub&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krub&display=swap");
* {
  padding: 0;
  margin: 0; }

.bg-deep-blue {
  background-color: #ddc18c; }

.bg-lite {
  background-color: #800080; }

.bg-gradient-deep {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.658), rgba(252, 252, 252, 0.03)); }

::-webkit-scrollbar {
  width: 6px;
  height: 6px; }

::-webkit-scrollbar-track {
  background: white; }
  ::-webkit-scrollbar-track:hover {
    border: 1px solid #b8b8b8;
    border-radius: 5px; }

::-webkit-scrollbar-thumb {
  background: rgba(51, 51, 51, 0.2);
  border-radius: 5px; }

::-webkit-scrollbar-thumb:vertical {
  background-color: #254E70; }

::-webkit-scrollbar-thumb:hover {
  background: #c75a6e; }

footer {
  position: relative;
  bottom: 0;
  max-height: 150px;
  padding: 2rem;
  z-index: 6; }
  footer h5 {
    font-size: 1rem; }
  footer nav .redes a {
    text-decoration: none; }
  footer nav .redes .icon {
    max-width: 2rem;
    margin-left: 15px;
    transition: transform .5s; }
    footer nav .redes .icon:hover {
      transform: scale(1.1); }
  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column;
      align-items: flex-start; }
      footer h5 {
        font-size: 1rem; }
      footer nav {
        flex-direction: column; }
        footer nav .redes .icon {
          max-width: 2rem; } }

/* Generales */
* {
  padding: 0;
  margin: 0; }

/* Paleta de colores */
/* Fuente y tipografia */
h1, h2, h3, h4, h5 {
  text-align: center;
  color: #800080; }

h1 {
  padding: 30px;
  color: #f5deb3;
  font-weight: bold;
  font-size: 4rem; }

header nav .navbar-brand .logo {
  width: 50px; }

/* Layout */
body {
  font-family: "Krub", sans-serif;
  background-image: url("../assets/images/section-bg.jpg");
  height: 100vh;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  min-height: 100vh; }

header, footer {
  padding: 25px;
  background: #eeaeca;
  background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%); }

section {
  margin: 5rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; }

.content {
  position: relative;
  left: 0;
  right: 0;
  z-index: 2; }

.contenedor {
  margin: 0 auto;
  padding: 20px 120px;
  box-sizing: border-box; }

.hero {
  position: relative;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("../assets/images/bg.jpg");
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed; }
  .hero h5 {
    color: #f5deb3; }

.carousel h5 {
  color: #ffffff; }

.carousel img {
  height: 450px; }

.carousel .carousel-control-next-icon, .carousel .carousel-control-prev-icon {
  background-color: grey;
  border-radius: 100%;
  padding: 5px; }

a {
  text-decoration: none; }

/* Mis Servicios */
.carta-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .carta-container .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 15rem;
    width: 15rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px; }
    .carta-container .card:hover {
      cursor: pointer; }

/* Acerca De */
#acerca-de .foto-vicky {
  padding: 10px;
  margin: 10px;
  border: 2px none;
  float: left;
  width: 250px;
  transition: transform .5s; }
  #acerca-de .foto-vicky:hover {
    transform: scale(1.1); }

#acerca-de .parrafo-vicky {
  text-align: left;
  color: #800080;
  font-size: 1rem; }

.img-galeria {
  width: 250px;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
  transition: transform .5s; }
  .img-galeria:hover {
    transform: scale(1.1); }

/*Galeria*/
.gallery-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-auto-flow: row dense; }
  .gallery-contenedor .gallery-item {
    padding: 0.5rem; }
  .gallery-contenedor .gallery__img {
    object-fit: cover;
    width: 350px;
    height: 350px;
    transition: transform .5s; }
    .gallery-contenedor .gallery__img:hover {
      transform: scale(1.1); }
  .gallery-contenedor .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 3rem; }
    @media screen and (max-width: 768px) {
      .gallery-contenedor .modal-body {
        grid-template-columns: repeat(2, 1fr); } }
    @media screen and (max-width: 576px) {
      .gallery-contenedor .modal-body {
        grid-template-columns: repeat(1, 1fr); } }

/* Contacto */
form {
  padding: 15px;
  background-color: rgba(240, 183, 119, 0.568);
  border-radius: 15px;
  width: fit-content;
  margin: 30px auto;
  padding: 15px; }
  form div {
    padding: 5px 0; }
  form input, form textarea {
    border-radius: 5px;
    width: 90%;
    background-color: #ffffff;
    padding: 5px; }
  form .button {
    border-radius: 5px;
    background-color: #ff7b7b;
    padding: 5px; }
    form .button:hover {
      padding: 10px;
      color: darkcyan; }
