/* Generales */
* {
    padding: 0;
    margin: 0;
  }
  
  /* Paleta de colores */
  
 
  
  /* Fuente y tipografia */
  
  @import url('https://fonts.googleapis.com/css2?family=Krub&display=swap');
  
  h1, h2, h3, h4, h5 {
    text-align: center;
    color: $purple;
    
    
  }
  
  h1 {
    
    padding: 15px;
    color: $wheat;
    font-weight: bold; 
    font-size: $textXl;
    
    
    
  }

// Header
header {
  nav {
    .navbar-brand {
      .logo {
          width: 50px ;
        }
      }
      
    }
  }

/* Layout */
  body {
    font-family: $fontMain;
    background-image: url("../assets/images/section-bg.jpg");
    height: 100vh;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    min-height: 100vh;
  }

  header, footer{
    padding: 25px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  }
  
  section {
    margin: 5rem 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    position: relative;
    left: 0;
    right: 0;
    z-index: 2;
  }
  
  .contenedor{
    margin: 0 auto;
    padding: 20px 120px;
    box-sizing: border-box;
  }

  // Home
  
  .hero {
    position: relative;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url("../assets/images/bg.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
  }

.carousel {
  h5{
    color: $white;
  }

  img {
  height: 450px;
  }
  
  .carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: grey;
    border-radius: 100%;
    padding: 5px;
  }
}

/* Mis Servicios */

.carta-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 15rem;
    width: 15rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    &:hover{
      cursor: pointer;
    }
  }
}

  /* Acerca De */

  #acerca-de{
    .foto-vicky {
      padding: 10px;
      margin: 10px;
      border: 2px none;
      float: left;
      width: 250px;
    } 
  
    .parrafo-vicky{
      text-align: left;
      color: $purple;
      font-size: $textSm;
    }
  }
  
  // Home gallery
  .img-galeria{
    width: 250px;
    height: auto;
    object-fit: contain;
    aspect-ratio: 1/1;
    transition: transform .5s;
    &:hover{
      transform:scale(1.1);
    }
  }

  /*Galeria*/ 

  .gallery-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-auto-flow: row dense;

    .gallery-item{
      padding: 0.5rem;
    }
    .gallery__img {
      object-fit: cover;
      width: 250px;
      height: 250px;
    }  

    @include mediumScreen {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobileScreen {
      grid-template-columns: repeat(1, 1fr);
    }
  }

/* Contacto */
  
  form {
    padding: 15px;
    background-color: rgba(240, 183, 119, 0.568);
    border-radius: 15px;
    width: fit-content;
    margin: 30px auto;
    padding: 15px;
    div {
      padding: 5px 0;
    }
    
    input, textarea {
      border-radius: 5px;
      width: 90%;
      background-color: $white;
      padding: 5px;
      
    }
    
    .button {
      border-radius: 5px;
      background-color: rgb(255, 123, 123);
      padding: 5px;
      &:hover {
        padding: 10px;
        color: darkcyan;
      }
    }
  }
  

  
  
  
  
  